# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.ARINC-424-Encoder.iml
# Datasource local storage ignored files
/../../../../../../:\Rider Project\ARINC-424-Encoder\.idea\.idea.ARINC-424-Encoder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
